---
layout: blogroll
title: Recent Posts
---

<table>
  {% for post in site.posts %}
	<tr>
    <td width="80px">
    {% if post.featured-img and post.featured-img!='' %}
    <div class="featuredimgthumb" style="background-image: url('{{ post.featured-img }}');">
    {% endif %}
    </td>
    <td>
      <strong><b><a href="{{ post.url }}">{{ post.title }}</a> </b></strong><br>
     <span class="blogdate">     {{ post.date | date: "%b %d %Y" }}</span>
    
      {{ post.excerpt }}
    </td>
	</tr>
  {% endfor %}
</table>