
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Libre+Baskerville|Raleway|Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');


// $maincolor: crimson;
// $secondcolor: darkred;
// $activecolor: lightcoral;
// $currentcolor: pink;

$maincolor: seagreen;
$secondcolor: teal;
$activecolor: gold;
$currentcolor: pink;

$backgroundcolor: lightgray;

$navheight: 100px;
$buffer: 30px;

$headerfontstack: EB Garamond, serif;
$navfontstack: Raleway, sans-serif;
$fontstack: Open Sans, Helvetica, Arial, sans-serif;

$contentwidth: 800px;

$side-margin:100px;



body{
	/*font-family: Georgia, Times, serif;*/
	font-family: $fontstack;
	font-size: 90%;
	font-style: normal;
	line-height: 1.6;
	background-color: #ffffff;/*#707070;*//*347C2C;*/
	margin: 0px;


	.content {
/*padding for overlay navbar*/
	//padding: $navheight + $buffer 2em 2em 2em;
	padding: $buffer 2em 2em 2em;
	background-color: white;
	border-left: 2px solid $backgroundcolor;
	border-bottom: 2px solid $backgroundcolor;
	}

	.splash {
		/*padding for sticky navbar*/
		//	padding: $navheight + $buffer 2em 2em 2em;
		padding: $buffer 2em 2em 2em;
	}


/*Navigation Bar*/

nav.top{
 	list-style: none;
	/* Make it stick, even on scroll */
//    position: fixed;
		position: relative;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    height: $navheight;
    font-family: $navfontstack;
    z-index: 100;
    font-weight: 400;

 	ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	width: 100%;
   	background-color: white;
// 	position: fixed; /* Make it stick, even on scroll */
  	overflow: hidden;
    text-align: left;
    border-bottom: 2px solid $backgroundcolor;


	li {
	display: inline-block;
	padding: 1em 1em 0.5em 1em;

	a {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 1em, 1em 0.5em 1em;
	}

	}

	}

}

div.sidebar{
	margin-left: -20px;
	/*padding for overlay navbar*/
	//padding: $navheight+$buffer 0em 2em 1em;
	padding: 2em 0em 2em 1em;
    font-family: $navfontstack;
    z-index: 3;
	float: left;
	background-color: white;
	width: 18%;
	border-left: 2px solid $backgroundcolor;
	border-bottom: 2px solid $backgroundcolor;


 	ul {
  	margin: 10px;
	padding: 1em 1em 2em 1em;
  	overflow: hidden;
    text-align: left;
	}

	}

div.blogcontent{
 	margin: 0px;
	/*padding for overlay navbar*/
	//padding: $navheight + $buffer 2em 2em 2em;
		padding: $buffer 2em 2em 2em;
	width: 75%;
 	float: right;
 	border-left: 2px solid $backgroundcolor;
	border-bottom: 2px solid $backgroundcolor;
	z-index: 1;

	}



	#name{
	font-family: $headerfontstack;
	font-size:30px;
	color:gray;
	a {
	color:gray;
		}
	a:active {
	color:lightgray;
	}
	padding-top: 2em;
	padding-right: 4em;
	}


	.current {
	color: $currentcolor;
	border-bottom:1px solid lightgray;
	}

/*center floating content area*/

div#bodybg
	{background-color: #ffffff;/*#707070;*/
	margin-right:auto;
	margin-left:auto;
	margin-top:0;
	width: $contentwidth;
	padding: 0px;/*3px;*/
	color: #222222;
	margin-bottom: 3em;
	}

div#container
	{
    position:relative;
    padding-left:$side-margin;
    padding-right:$side-margin;
    padding-top:0px;
    padding-bottom:0px;

	   .left-panel {
	   width: $side-margin;
	   position:absolute;
	   left:0px;
	   top:0px;
	   }

	   .right-panel {
       width: $side-margin;
  	   position:absolute;
       right:0px;
       top:0px;
       }

       .center-panel {
        display:block;
        margin-left:auto;
        margin-right:auto;
        margin-top:0px;
        }
	}

div.twocol{
	column-count: 2;
	column-gap: 2em;
	column-rule-style: solid;
	column-rule-color: white;
	column-rule-width: 0px;

	img.circle
	{
	display: block;
	border-radius: 50%;
	border-style: solid;
	border-color: gray;
	border-width: 3px;
	max-width: 60%;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	}



}

div.column{
	display: inline-block;
	margin: 0;
	padding: 1em;
	}

div.featuredimgbanner{
  width: fit;
  top: 0pt;
  left: -1pt;
  margin-right: -2em;
  margin-left: -2em;
  margin-top: -2em;
  margin-bottom: 0em;
  background-size: cover;
  background-position: center center;
  background-color: $maincolor;
  height: 15em;
  opacity: 100%;
  border-color: $backgroundcolor;
  border-style: solid;
  border-width: 2px;
	}

div.listbanner{
  width: fit;
  top: 0pt;
  left: 0pt;
  margin-top: 0em;
  margin-bottom: -1em;
  background-size: cover;
  background-position: center center;
  background-color: $maincolor;
  height: 12em;
  border-color: $backgroundcolor;
  border-style: solid;
  border-width: 2px;
	}

div.featuredimgthumb
	{
	background-size: 400px;
	width: 80px;
	height: 80px;
	margin-top: 1em;
	margin-right: 10pt;
	border-color: gray;
	border-style: solid;
	border-width: 3px;
	background-position: right center;
	float: left;
	}

div#header
	{
	text-align:left;
	width: inherit;
	margin-top:0px;
	padding:0px;
	color: #222222;
	border-color:#003300;
	background-color:#f8f8f8;
	/*height: 210px;*/
	/*overflow: auto;*/
	}


/*
div#menu
	{
	background-color:#f8f8f8;
	margin-top:2px;
	padding-left:20px;
	padding-top:5px;
	padding-bottom:5px;
	color: #222222;
	text-align:left;
	/*font-size:12pt;*/
	/*font-variant:small-caps;*/
	/*font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	}
 */

div#footer
	{
	padding:0em;
	color: #555555;
	margin-left: $side-margin;
	margin-right: $side-margin;
	margin-top: 1em;

	div.leftcolumn
	{
	float: left;
	text-align: left;
	width: 45%;
	padding-left: 2em;
	}

	div.rightcolumn
	{
	float: right;
	text-align: right;
	width: 45%;
	padding-right: 2em;
	}
	}

/* Banner */

	#banner {
		padding: 18em 0 0em 0;
		background-image: url('/assets/images/books.jpg');
		background-size: cover;
		background-position: top;
		background-attachment: fixed;
		background-repeat: no-repeat;
		text-align: left;
		border-top: 0.5em solid white;
	}

		#banner h1 {
			font-size: 3.5em;
			color: white;
			line-height: 1em;
			margin: 0 0 0.5em 0;
			padding: 0;
		}

		#banner p {
			font-size: 1em;
			color: lightgray;
			margin-bottom: 1.75em;
		}
}

	a:link {color: $maincolor;text-decoration:none;}
 	a:visited {color: $maincolor;text-decoration:none;}
 	a:hover {color: $activecolor}
 	a:active {color: $activecolor}

table
	{
	font-family: $fontstack;
	font-style: normal;
	border-spacing: 10px;
	}

tr
	{
	vertical-align: top;
	}

span.blogdate
	{
	font-family: $navfontstack;
	color: #555555;
	margin-top:2em;
	margin-bottom:-2em;
	}

span.contact
	{
	font-family: $fontstack;
	font-weight: bolder;
	}

h1
	{
	font-family: $headerfontstack;
	color: gray;
	font-size:32px;
	margin-top: 0;
	margin-bottom: 0;
	}

h2
	{
	font-family: $headerfontstack;
	text-align:left;
	color: $maincolor;
	font-size:28px;
	}

h3
	{
	font-family: $headerfontstack;
	text-align:left;
	color: $maincolor;
	font-size:24px;
	}

strong
	{
	color: inherit;
	font-weight: bold;
	}

figure.image{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 50%;
	}

img.scaled{
	object-fit: contain;
	width: 100%;
	}

img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
