<!doctype html>
<html>
  <head>
	  <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143593512-2"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
  
		  gtag('config', 'UA-143593512-2');
		</script>
    <meta charset="utf-8">
    <title>Bronwyn M. Bjorkman - {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" >
    <link rel="alternate" type="application/rss+xml" href="http://bronwynbjorkman.net/feed.xml" />
    {% seo %}
  </head>
  <body>
  	{% include navigation.html %}
  	<div id="container">
  	{{content}}
	</div>
 	{% include footer.html %}
  </body>
</html>